/* Insertamos las fuentes que utilizaremos en la página */

@font-face {
  font-family: "Playfair";
  src: url("fuentes/PlayfairDisplayRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Playfair";
  src: url("fuentes/PlayfairDisplayBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lupina";
  src: url("fuentes/LupinaRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lupina";
  src: url("fuentes/LupinaItalic.ttf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

/* Eliminar las márgenes por defecto */
* {
  margin: 0;
  padding: 0;
  border: none;
}

/* Estilos para el cuerpo de la página */
body {
  font-family: "Lupina", sans-serif;
  color: black;
  background-image: url("imagenes/fondo.png");
}

/* Aquí ocultamos el checkbox del menú lateral */
#lateral {
  display: none;
}

/* Estilos para el encabezado */
header {
  position: relative;
  background-color: #8a0e1b;
  color: white;
  text-align: center;
}

header h1 {
  padding: 20px;
  font-size: 40px;
  font-weight: bold;
}

header h1 a {
  color: white;
  text-decoration: none;
}

header h1 a:hover {
  color: #ebebeb;
  text-shadow: 0 4px black;
}

/*  Esto es para las tres rallitas que simbolizan el menú */
.botonLateral {
  position: absolute;
  top: calc(50% - 15px);
  left: 20px;

  width: 30px;

  cursor: pointer;
  display: none;
}

.botonLateral hr {
  border-color: white;
  margin: 5px 0;
}

/* Estilos del menú lateral (sólo aparece en celulares)*/
.menuLateral {
  display: none;

  position: fixed;
  top: 0;
  left: 0;

  width: 300px;
  height: 100vh;

  border-right: 3px solid #e81923;

  padding: 20px;

  transform: translateX(-100%);

  background-color: #8a0e1b;
  color: white;

  transition: transform 0.5s ease-in-out;
}

.menuLateral h2 {
  font-size: 24px;
  font-weight: bold;
  color: whitesmoke;
}

.menuLateral hr {
  border-color: whitesmoke;
}

.menuLateral nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Aquí reutilizamos el botón del menú*/
.menuLateral .botonLateral {
  position: static;
}

.menuLateral .tituloLateral {
  display: flex;
  position: static;
  width: 100%;
  gap: 10px;
}

.menuLateral .tituloLateral h2 {
  flex: 1;
}

.menuLateral ul {
  /* Revierte el cambio que hicimos arriba en quitarle los padding a todo */
  padding: revert;
  list-style: none;
}

/* Estilos para el menú de navegación */
.menuPrincipal {
  display: flex;
  justify-content: center;
  background-color: #e81923;
  padding: 10px;
  gap: 20px;
  font-size: 18px;
}

.menuPrincipal a,
.menuLateral a {
  text-decoration: none;
  color: white;
}

.menuPrincipal a:hover,
.menuLateral a:hover {
  color: #fdffbb;
  text-decoration: underline;
}

.menuPrincipal a.seleccionado,
.menuLateral a.seleccionado {
  color: #e6ec38;
  text-decoration: underline;
}

/* Coloco que todos los títulos tengan la misma fuente */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair", sans-serif;
  font-weight: bold;
  color: #3c2807;
}

p {
  font-size: 18px;
}

img {
  border: 3px solid #3c2807;
  transition: all 0.5s ease-in-out;
}

/* Aquí reestilizo las separaciones horizontales */
hr {
  border: 2px solid #3c2807;
  border-radius: 9999px;
  margin: 10px 0 20px 0;
}

/* Se coloca un margen interno para cuando se haga un desplazamiento por ID */
article {
  scroll-margin: 20px;
}

/* Estilos para el pie de página */

footer {
  color: white;
  background-color: #e81923;
  text-align: center;
  padding: 20px;
  font-size: 18px;
}

footer a {
  color: #55f1ff;
}

footer a:hover {
  color: #2eebfc;
}

footer a:visited {
  color: #71b1ff;
}

/* Esta clase hace que el tamaño horizontal no sea tan grande */
.maximo {
  max-width: 1600px;
  position: relative;
  margin: auto;
  padding: 20px;
}

/* Estilos para imagenes */

.imagenPrincipal {
  padding: 20px;
  text-align: center;
  background-color: #ebebeb71;
}

.imagenPrincipal img {
  margin: auto;
  max-width: 75%;
}

/* Con esto añado las citas de imagenes y tablas */
.cita {
  font-size: 16px;
  font-style: italic;
  text-align: center;
  margin-top: 10px;
}

/* Con esto separo las secciones en columnas */
.columnas {
  display: flex;
  justify-content: center;
}

.columnas * {
  flex: 1 0 0;
}

.separacion * {
  margin: 10px 0;
}

.alreves {
  flex-direction: row-reverse;
}

/* Aquí están los estilos de las páginas */

/* Estilos de la página principal */

.titulo {
  font-size: 32px;
}

.imagenVanGogh {
  max-width: 90%;
}

.italica {
  font-style: italic;
}

/* Estilos de la página de actividades */

.imagen {
  text-align: center;
  align-self: center;
}

.imagen img {
  margin: auto;
  max-width: 80%;
}

.grilla {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.centradoVisita {
  margin-top: 80px;
}

.centradoComidas {
  margin-top: 240px;
}

.centradoObras {
  margin-top: 20px;
}

.centradoTienda {
  margin-top: 120px;
}

.centradoVisita:hover img,
.centradoComidas:hover img,
.centradoObras:hover img,
.centradoTienda:hover img {
  scale: 1.2;
}

/* Estilos de la página de historia */

.lista {
  list-style: upper-roman;
  margin: 10px 0 40px 30px;
  font-size: 18px;
}

/* Estilos de la página de personajes */

.tamañoFijoImagen {
  width: 800px;
  height: auto;
}

.articulo {
  margin: 20px 0;
}

.articulo img:hover {
  scale: 1.2;
}

/* Estilos para la página de bibliografía */

.mapa {
  display: flex;
  justify-content: center;
}

.mapa img {
  max-width: 1144px;
  width: 90%;
  border: none;
}

.listaSeparada {
  list-style: square;
  margin: 10px;
}

.listaSeparada li {
  margin: 20px;
  font-size: 18px;
  word-wrap: break-word;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
  header h1 {
    font-size: 32px;
  }

  nav {
    font-size: 20px;
  }

  .columnas {
    flex-wrap: wrap;
    gap: 10px;
  }

  .separacion {
    flex-basis: 100%;
    flex-grow: 1;
  }

  /* Página de Actividades */

  .grilla {
    grid-template-columns: repeat(2, 1fr);
  }

  .centradoComidas {
    margin-top: 200px;
  }
}

@media screen and (max-width: 800px) {
  header h1 {
    font-size: 22px;
    padding-left: 70px;
  }

  .botonLateral {
    display: block;
  }

  .menuPrincipal {
    display: none;
  }

  .maximo {
    padding: 40px;
  }

  /* Aumentar el tamaño para facilidad de lectura */
  p {
    font-size: 20px;
  }

  .cita {
    font-size: 18px;
  }

  .menuLateral {
    display: block;
  }

  /* Verifica si el botón del menú lateral está activo para mostrar el menú lateral*/
  body:has(#lateral:checked) .menuLateral {
    transform: translateX(0%);
  }

  /* Página de Actividades */

  .grilla {
    grid-template-columns: 1fr;
  }

  .centradoVisita,
  .centradoComidas,
  .centradoObras,
  .centradoTienda {
    margin: 20px 0 30px 0;
  }
}
